
<table class="tx-in2studyfinder" >
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.title" />
		</td>
		<td>
			{studyCourse.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.standard_period_of_study" />
		</td>
		<td>
			{studyCourse.standardPeriodOfStudy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.ects_credits" />
		</td>
		<td>
			{studyCourse.ectsCredits}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.tuition_fee" />
		</td>
		<td>
			{studyCourse.tuitionFee}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.teaser" />
		</td>
		<td>
			{studyCourse.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.description" />
		</td>
		<td>
			{studyCourse.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_in2studyfinder_domain_model_studycourse.university_place" />
		</td>
		<td>
			{studyCourse.universityPlace}
		</td>
	</tr>
</table>