/*------------------------------------*\
  #COMPONENTS-LIST
\*------------------------------------*/

.in2studyfinder {
  &__button {
    background-color: $color-balihai;
    color: $color-white;
    cursor: pointer;
    margin: {
      top: 9px;
      bottom: 9px;
    };
    padding: $size-box-padding 25px $size-box-padding 20px;

    &:hover {
      background-color: $color-charcoal;
    }
  }

  &__checkbox-label {
    background: {
      image: url($path-icons + 'unchecked.png');
      repeat: no-repeat;
    };
    break-inside: avoid;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    cursor: pointer;
    margin: 1em 0 0.5em 0;
    padding-left: 25px;
  }

  &__list {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
  }

  &__item {
    padding: 20px;
  }

  &__item-count {
    font: {
      size: 16px;
      weight: bold;
    };
  }

  &__letter {
    border-bottom: 2px solid $color-nightrider;
    font: {
      size: 30px;
      weight: bold;
    };
    margin: {
      top: 20px;
      bottom: 0;
      left: 20px;
    };

    span {
      margin-left: -20px;
    }
  }
}
