.in2studyfinder {

  * {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }

  p {
    color: $nightrider;
  }

  h1, h2 {
    font-size: 24px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
    line-height: 150%;
    font-weight: bold;
  }

  a {
    color: $balihai;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  &__filter-section-title {
    font-weight: bold;
    border: none;
  }

  &__item-count {
    font-size: 16px;
    font-weight: bold;
  }

  &__button {
    background-color: $balihai;
    color: $white;
    &:hover {
      background-color: $charcoal;
    }
  }

  &__filter-header {
    background-color: $white;
    text-align: right;
  }

  &__filter-section {
    border-style: none;
    border-bottom: 1px solid $nightrider;
  }

  &__letter {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid $nightrider;
  }

  &__pagebrowser {
    a {
      color: $nightrider;
      font-size: 18px;
      font-weight: bold;
    }
    a:hover {
      color: $balihai;
    }
  }

    &__pagebrowser-page {
      &.current {
        color: $bluelight;
      }
    }

  &__content-box-head {
    background-color: $balihai;

    h3 {
      color: $white;
      letter-spacing: 0.05em;
      font-size: 1.2em;
      font-weight: normal;
      margin: 4px;
    }
  }

}
