@mixin checkbox($checked: false, $background-color: $black) {
  @if ($checked == true) {
    content: ' ';
    display: inline-block;
    height: 8px;
    width: 3px;
    position: absolute;
    left: 6px;
    top: 2px;
    transform: rotate(40deg);
    border-bottom: 3px solid $background-color;
    border-right: 3px solid $background-color;
  }
  @if ($checked == false) {
    content: ' ';
    display: inline-block;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 5px;
    border-radius: 2px;
  }
}

@keyframes checkboxAnimation {
  0% {
    height: 11px;
    width: 11px;
    left: 3px;
    top: 7px;
  }

  50% {
    height: 21px;
    width: 21px;
    left: -2px;
    top: 2px;
  }
  100% {
    height: 11px;
    width: 11px;
    left: 3px;
    top: 7px;
  }
}
