/*------------------------------------*\
  #SETTINGS-COLORS
\*------------------------------------*/

/**
 * Use “Name That Color” to name the colors
 * (http://chir.ag/projects/name-that-color/)!
 */

$color-balihai: #7d9aaa;
$color-black: black;
$color-charcoal: #4d4d4d;
$color-denim: #11639d;
$color-nightrider: #333333;
$color-white: white;
