
<fieldset class="form-section">
	<div class="form-group">
		<label>
			Number of Dummy Records
		</label>
		<div style="clear: both;">
		<div class="form-control-wrap" style="max-width: 180px;">
			<f:form.textfield class="form-control" type="number" property="numberOfRecords"/>
		</div>
		<div class="form-control-wrap">
			<label>
				Studycourses
			</label>
			<f:form.checkbox property="data" value="studycourses" multiple="1" />
			<label>
				Settings
			</label>
			<f:form.checkbox property="data" value="settings" multiple="1" />
		</div>
		<div class="form-control-wrap" style="max-width: 180px;">
			<f:form.submit class="btn btn-default" value="Generate"/>
		</div>
		</div>
	</div>
</fieldset>


