<f:if condition="{pluginName} == 'Pi1'">
	<f:then>
		<f:render section="Pi1" arguments="{_all}"/>
	</f:then>
	<f:else>
		<f:render section="Pi2" arguments="{_all}"/>
	</f:else>
</f:if>

<f:comment>
	Information for List View
</f:comment>
<f:section name="Pi1">
	<p>
		<strong>
			<f:translate
					key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.extensionTitle"/>
		</strong>
		<br/>
		<f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.listView"/>
	</p>
	<br/>
	<pre style="white-space:normal">
		<strong><f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.detailView"/>:</strong> {detailPage.title} ({detailPage.uid})
		<br/>
		<br/>
		<strong><f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.departments"/>: </strong>
		<f:render section="filter" arguments="{type: flexFormData.settings.flexform.select.department, typeArray:departmentArray}" />

		<strong><f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.faculties"/>: </strong>
		<f:render section="filter" arguments="{type: flexFormData.settings.flexform.select.faculty, typeArray:facultyArray}" />

		<strong><f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.academicDegrees"/>: </strong>
		<f:render section="filter" arguments="{type: flexFormData.settings.flexform.select.academicDegree, typeArray:academicDegreeArray}" />
		<br/>
		<f:render section="RecordStoragePage" arguments="{_all}"/>
	</pre>
</f:section>

<f:comment>
	Information for Detail View
</f:comment>
<f:section name="Pi2">
	<p>
		<strong>
			<f:translate
					key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.extensionTitle"/>
		</strong>
		<br/>
		<f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.detailView"/>
	</p>

	<pre style="white-space:normal">
		<strong><f:translate
				key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.listView"/>: </strong>
		{listPage.title} ({listPage.uid})
		<br>
	</pre>
</f:section>

<f:comment>
	RecordStoragePage
</f:comment>
<f:section name="RecordStoragePage">
	<f:if condition="{recordStoragePages}">
		<f:then>
			<table border="0" style="color: #5a5a5a;">
				<tbody>
				<f:for each="{recordStoragePages}" as="recordStoragePage" iteration="iterator">
					<tr>
						<f:if condition="{f:count(subject: recordStoragePages)} == 1">
							<f:then>
								<td>
									<strong>
										<f:translate
												key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.recordStoragePage"/>
										:&nbsp;
									</strong>
								</td>
								<td>{recordStoragePage.title} ({recordStoragePage.uid})</td>
							</f:then>
							<f:else>
								<f:if condition="{iterator.isFirst}">
									<f:then>
										<td>
											<strong>
												<f:translate
														key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.recordStoragePages"/>
												:&nbsp;
											</strong>
										</td>
										<td>{recordStoragePage.title} ({recordStoragePage.uid})</td>
									</f:then>
									<f:else>
										<td></td>
										<td>{recordStoragePage.title} ({recordStoragePage.uid})</td>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<strong style="color: red">
				<f:translate
						key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.noStoragePage"/>
			</strong>
		</f:else>
	</f:if>
</f:section>

<f:comment>
	Filter
</f:comment>
<f:section name="filter">
	<f:if condition="{type}">
		<f:then>
			<f:for each="{typeArray}" as="typeRecord" iteration="iteration">
				{typeRecord.title}
				<f:if condition="{iteration.isLast}">
					<f:else>
						,
					</f:else>
				</f:if>
			</f:for>
		</f:then>
		<f:else>
			<f:translate
					key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.showAll"/>
		</f:else>
	</f:if>
	<br/>
</f:section>
