<ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-DTM-mask" data-store-last-tab="1">
	<li role="presentation" class="t3js-tabmenu-item{f:if(condition: '{active} == \'WizardContent\'', then: ' active')}">
		<f:link.action action="list" controller="Backend" additionalParams="{aria-controls:'DTM-mask-1', role:'tab', data-toggle:'tab'}">Übersicht</f:link.action>
	</li>
	<li role="presentation" class="t3js-tabmenu-item{f:if(condition: '{active} == \'WizardPage\'', then: ' active')}">
		<f:link.action action="list" controller="Backend" additionalParams="{aria-controls:'DTM-mask-2', role:'tab', data-toggle:'tab'}">Export</f:link.action>
	</li>
	<li role="presentation" class="t3js-tabmenu-item">
	</li>
</ul>
