<f:if condition="{paginator.numberOfPages} > 1">
	<nav aria-label="pagebrowser">
		<ul class="in2studyfinder__pagebrowser js-in2studyfinder-pagebrowser">
			<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
				<li class="previous">
					<f:link.action
						arguments="{currentPage:pagination.previousPageNumber}"
						data-target-page="{pagination.previousPageNumber}"
						class="in2studyfinder__pagebrowser-page js-in2studyfinder-pagination-link js-in2studyfinder-pagination-previous"
						title="previous"
					>
						&laquo;
					</f:link.action>
				</li>
			</f:if>
			<f:if condition="{pagination.hasLessPages}">
				<li>…</li>
			</f:if>
			<f:for each="{pagination.allPageNumbers}" as="page">
				<f:if condition="{page} == {paginator.currentPageNumber}">
					<f:then>
						<li>
							<span class="in2studyfinder__pagebrowser-page current">{page}</span>
						</li>
					</f:then>
					<f:else>
						<li>
							<f:link.action
								arguments="{currentPage:page}"
								data-target-page="{page}"
								class="in2studyfinder__pagebrowser-page js-in2studyfinder-pagination-link"
							>
								{page}
							</f:link.action>
						</li>
					</f:else>
				</f:if>
			</f:for>
			<f:if condition="{pagination.hasMorePages}">
				<li class="in2studyfinder__pagebrowser-page">…</li>
			</f:if>
			<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
				<li class="next">
					<f:link.action
						arguments="{currentPage:pagination.nextPageNumber}"
						data-target-page="{pagination.nextPageNumber}"
						title="next"
						class="in2studyfinder__pagebrowser-page js-in2studyfinder-pagination-link js-in2studyfinder-pagination-next"
					>
						&raquo;
					</f:link.action>
				</li>
			</f:if>
		</ul>
	</nav>
</f:if>
