<f:if condition="{paginator.numberOfPages} > 1">
	<nav aria-label="pagebrowser">
		<ul class="in2studyfinder__pagebrowser js-in2studyfinder-pagebrowser">
			<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
				<li class="previous">
					<a href="{in2studyfinder:pagination.uri(arguments:'{currentPage:pagination.previousPageNumber}',name:name)}" title="previous" data-target-page="{pagination.previousPageNumber}" class="in2studyfinder__pagebrowser-page js-in2studyfinder-pagination-link js-in2studyfinder-pagination-previous">
						&laquo;
					</a>
				</li>
			</f:if>
			<f:if condition="{pagination.hasLessPages}">
				<li>…</li>
			</f:if>
			<f:for each="{pagination.allPageNumbers}" as="page">
				<f:if condition="{page} == {paginator.currentPageNumber}">
					<f:then>
						<li>
							<span class="in2studyfinder__pagebrowser-page current">{page}</span>
						</li>
					</f:then>
					<f:else>
						<li>
							<a href="{in2studyfinder:pagination.uri(arguments:'{currentPage:page}',name:name)}" class="in2studyfinder__pagebrowser-page js-in2studyfinder-pagination-link" data-target-page="{page}">{page}</a>
						</li>
					</f:else>
				</f:if>
			</f:for>
			<f:if condition="{pagination.hasMorePages}">
				<li class="in2studyfinder__pagebrowser-page">…</li>
			</f:if>
			<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
				<li class="next">
					<a href="{in2studyfinder:pagination.uri(arguments:'{currentPage:pagination.nextPageNumber}',name:name)}" title="next" data-target-page="{pagination.nextPageNumber}" class="in2studyfinder__pagebrowser-page js-in2studyfinder-pagination-link js-in2studyfinder-pagination-next">
						&raquo;
					</a>
				</li>
			</f:if>
		</ul>
	</nav>
</f:if>
