<p>
	<strong>
		<f:translate
			key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.extensionTitle"/>
	</strong>
	<br/>
	<f:translate
		key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.detailView"/>
</p>

<pre style="white-space:normal">
		<strong><f:translate
			key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:pluginInformation.listView"/>: </strong>
		{listPage.title} ({listPage.uid})
		<br>
</pre>
