<form action="http://local.devcms76.de/index.php"
	  method="get">
	<input type="hidden" name="id" value="{settings.flexform.studyCourseDetailPage}" />
	<input type="hidden" name="tx_in2studyfinder_pi2[controller]" value="StudyCourse" />
	<input type="hidden" name="tx_in2studyfinder_pi2[action]" value="detail" />

	<select class="in2studyfinder-js-fast-select" style="width: 100%" name="tx_in2studyfinder_pi2[studyCourse]"
			tabindex="-1">
		<f:for each="{studyCourses}" as="studyCourse">
			<option value="{studyCourse.uid}" alt="{studyCourse.metaKeywords}">{studyCourse.title} -
				{studyCourse.academicDegree.degree}
			</option>
		</f:for>
	</select>
</form>

<f:comment>

	?L=2&tx_in2studyfinder_pi2%5Baction%5D=detail&tx_in2studyfinder_pi2%5Bcontroller%5D=StudyCourse&cHash=c7828e65f5027ed02fdca93d7e73450c
	<form action="index.php?id={settings.flexform.studyCourseDetailPage}&tx_in2studyfinder_pi2[action]=detail&tx_in2studyfinder_pi2[controller]=StudyCourse"
		  method="get">
		<select class="in2studyfinder-js-fast-select" style="width: 100%" name="tx_in2studyfinder_pi2[studyCourse]"
				tabindex="-1">
			<f:for each="{studyCourses}" as="studyCourse">
				<option value="{studyCourse.uid}" alt="{studyCourse.metaKeywords}">{studyCourse.title} -
					{studyCourse.academicDegree.degree}
				</option>
			</f:for>
		</select>
		<input type="hidden" name="tx_in2studyfinder_pi2[action]" value="detail" />
		<input type="hidden" name="tx_in2studyfinder_pi2[controller]" value="StudyCourse" />
	</form>

	<f:form action="detail" pluginName="Pi2" method="GET" pageUid="{settings.flexform.studyCourseDetailPage}">
		<select class="in2studyfinder-js-fast-select" style="width: 100%" name="tx_in2studyfinder_pi2[studyCourse]"
			tabindex="-1">
		<f:for each="{studyCourses}" as="studyCourse">
			<option value="{studyCourse.uid}" alt="{studyCourse.metaKeywords}">{studyCourse.title} -
				{studyCourse.academicDegree.degree}
			</option>
		</f:for>
	</select>
	</f:form>

	<f:form action="detail" pluginName="Pi2" method="GET" pageUid="{settings.flexform.studyCourseDetailPage}">
		<f:form.select property="uid" name="studyCourse" options="{studyCourses}" class="in2studyfinder-js-fast-select"
					   style="width: 100%" additionalAttributes="{tabindex:'-1'}"/>
	</f:form>
</f:comment>
