<f:form action="filter"
				class="c-in2studyfinder-filter u-in2studyfinder-hide-if-no-js js-in2studyfinder-filter"
				name="in2studyfinder-filter"
				additionalAttributes="{aria-label: '{f:translate(key: \'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:filterRegion\')}'}">

	<button type="button"
					aria-label="{f:translate(key:'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:showFilter')}"
					class="c-in2studyfinder-filter__button c-in2studyfinder-filter__button--show js-in2studyfinder-filter-button-show">
		<f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:filter"/>
	</button>

	<button type="button"
					aria-label="{f:translate(key:'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:filter.reset')}"
					class="c-in2studyfinder-filter__button c-in2studyfinder-filter__button--reset u-in2studyfinder-hide js-in2studyfinder-filter-button-reset">
		<f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:filter.reset"/>
	</button>

	<div class="c-in2studyfinder-filter__sections js-in2studyfinder-filter-section-container">
		<f:for each="{filters}" as="filterType" key="filterTypeName">
			<f:if condition="!{filterType.disabledInFrontend}">
				<fieldset class="c-in2studyfinder-filter__section js-in2studyfinder-filter-section u-in2studyfinder-hide"
									data-filtergroup="{filterTypeName}" tabindex="0">

					<legend class="c-in2studyfinder-filter__legend js-in2studyfinder-filter-legend">
						{filterType.frontendLabel}
					</legend>

					<div class="c-in2studyfinder-filter__options js-in2studyfinder-filter-options u-in2studyfinder-hide">
						<f:render partial="StudyCourse/List/Filter/CheckboxAll" arguments="{_all}"/>

						<f:for each="{filterType.filterOptions}" as="option">
							<f:render partial="StudyCourse/List/FilterTypeSwitch/FilterTypeSwitch" arguments="{_all}"/>
						</f:for>
					</div>
				</fieldset>
			</f:if>
		</f:for>
	</div>

	<f:comment>
		<!--Required for the ajax functionality!
		DO NOT REMOVE! -->
	</f:comment>
	<f:form.hidden name="pluginInformation[pluginUid]" value="{data.uid}"/>
	<f:form.hidden name="pluginInformation[pid]" value="{data.pid}"/>
	<f:form.hidden name="pluginInformation[languageUid]" value="{data.sys_language_uid}"/>
</f:form>
