<f:form action="filter" class="in2studyfinder-js-filter">

	<f:render partial="StudyCourse/List/Filter/FilterButtons"/>

	<div class="in2studyfinder__filter-options in2studyfinder-js-filter-options">
		<f:for each="{filters}" as="filterType" key="filterTypeName">
			<fieldset class="in2studyfinder__filter-section in2studyfinder-js-option-section hide"
			          data-filtergroup="{filterTypeName}">
				<legend class="in2studyfinder__filter-section-title in2studyfinder-js-option-legend">
					{filterType.frontendLabel}
				</legend>
				<div class="in2studyfinder__accordion in2studyfinder-js-accordion hide">

					<f:render partial="StudyCourse/List/Filter/CheckboxAll" arguments="{_all}"/>

					<f:for each="{filterType.filterOptions}" as="option">
						<f:switch expression="{filterType.type}">
							<f:case value="object">
								<f:render partial="StudyCourse/List/Filter/TypeObject" arguments="{_all}"/>
							</f:case>
							<f:case value="boolean">
								<f:render partial="StudyCourse/List/Filter/TypeBoolean" arguments="{_all}"/>
							</f:case>
							<f:case default="TRUE">Not Suported filter</f:case>
						</f:switch>
					</f:for>
				</div>
			</fieldset>
		</f:for>
	</div>
</f:form>
