{namespace in2studyfinder=In2code\In2studyfinder\ViewHelpers}

<f:form class="c-in2studyfinder-quick-search u-in2studyfinder-hide-if-no-js js-in2studyfinder-quick-search"
				action="detail"
				pluginName="Pi2"
				pageUid="{settings.flexform.studyCourseDetailPage}">

	<in2studyfinder:form.select property="uid"
															name="studyCourse"
															optionLabelField="titleWithAcademicDegree"
															optionValueField="uid"
															prependOptionLabel="{f:translate(key:'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:pleaseSelectCourse')}"
															options="{studyCourses}"
															additionalOptionAttributes="{data-keywords: 'metaKeywords'}"
															class="c-in2studyfinder-quick-search__select js-in2studyfinder-select"
															tabindex="0"
															detailPageUid="{settings.flexform.studyCourseDetailPage}"
															style="width: 100%"/>
</f:form>
