{namespace in2studyfinder=In2code\In2studyfinder\ViewHelpers}

<f:render partial="StudyCourse/List/ItemCount" arguments="{studyCourseCount : studyCourseCount}"/>

<in2studyfinder:widget.paginate objects="{studyCourses}" as="studyCoursesForPage"
								configuration="{itemsPerPage:'{settings.pagination.itemsPerPage}'}">
	<ul class="in2studyfinder__list">
		<in2studyfinder:for for="{studyCoursesForPage}" as="studyCoursesByLetter">
			<li>
				<div class="in2studyfinder__letter">
					<span>{letter}</span>
				</div>
			</li>
			<f:for each="{studyCoursesByLetter}" as="studyCourse">
				<f:render partial="StudyCourse/List/Item" arguments="{studyCourse : studyCourse}"/>
			</f:for>
		</in2studyfinder:for>
	</ul>
</in2studyfinder:widget.paginate>
