{namespace in2studyfinder=In2code\In2studyfinder\ViewHelpers}

<f:render partial="StudyCourse/List/ItemCount" arguments="{studyCourseCount : studyCourseCount}"/>

<in2studyfinder:widget.paginate objects="{studyCoursesLetterArray}" as="studyCoursesArray"
									 configuration="{itemsPerPage:'{settings.pagination.itemsPerPage}'}">
	<ul class="in2studyfinder__list">
		<f:for each="{studyCoursesArray}" as="studyCoursesByLetter" key="key" iteration="iterator">
			<li>
				<div class="in2studyfinder__letter">
					<span>{key}</span>
				</div>
			</li>
			<f:for each="{studyCoursesByLetter}" as="studyCourse">
				<f:render partial="StudyCourse/List/Item" arguments="{studyCourse : studyCourse}"/>
			</f:for>
		</f:for>
	</ul>
</in2studyfinder:widget.paginate>
