.l-content{
  padding: $gap;

  @media all and (min-width: $tablet) {
    padding: 0 $gap $gap ($gap+$side-nav);
    transition: padding .2s ease;

    .is-closed &{
      padding: $gap $gap $gap $gap*5;
    }
  }
}

