/*
Fonts

Markup: ../../../Templates/Styleguide/01_modules/fonts.html

Styleguide 1.2
*/

$base-font: Helvetica, Arial, sans-serif;

/**
 * Use relative values like rem, em or %. Otherwise text zoom of IE won't work,
 * which is an accessibility issue
 * (http://testen.bitv-test.de/index.php?a=di&iid=52&s=n). Using rem has the
 * benefit that the value is always equivalent to 16px and not depending on
 * the location.
 */
$base-font-size: 1rem;
$base-font-lineheight: 1.5;
$base-font-weight: 400;
$base-font-weight--bold: 700;


$fontsize-p: (
  (null, 14px),
  ($phablet, 15px),
  ($tablet, 16px),
($widescreen, 19px),
);

$fontsize-h1: (
  (null, 24px),
  ($phablet, 32px),
  ($tablet, 48px),
  ($widescreen, 60px),
);

$fontsize-h2: (
  (null, 16px),
  ($phablet, 18px),
  ($tablet, 22px),
  ($widescreen, 25px),
);

$fontsize-h3: (
  (null, 14px),
  ($phablet, 15px),
  ($tablet, 16px),
  ($widescreen, 19px),
);