@charset "UTF-8";
/*------------------------------------*\
  #STYLE
\*------------------------------------*/
/**
 * Final main CSS file composed of separated Sass files. New created Sass files
 * need to be added here to have any effect.
 *
 * The order of the import directives is important. Changing the file order
 * within an import directive however should do no harm in most cases.
 *
 * We’re using the CSS Guidelines (https://cssguidelin.es/) in all CSS files for
 * “writing sane, manageable, scalable CSS”.
 *
 * We order CSS properties alphabetically (read
 * https://meiert.com/en/blog/on-declaration-sorting/ to find out why).
 */
/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
/*------------------------------------*\
  #SETTINGS-COLORS
\*------------------------------------*/
/**
 * Use “Name That Color” to name the colors
 * (http://chir.ag/projects/name-that-color/)!
 */
/*------------------------------------*\
  #SETTINGS-SIZE
\*------------------------------------*/
/*------------------------------------*\
  #SETTINGS-PATHS
\*------------------------------------*/
/*------------------------------------*\
  #TOOLS
\*------------------------------------*/
/*------------------------------------*\
  #TOOLS-MIXINS
\*------------------------------------*/
/**
 * The micro clearfix hack (http://nicolasgallagher.com/micro-clearfix-hack/).
 */
/*------------------------------------*\
  #RULES
\*------------------------------------*/
/*------------------------------------*\
  #UTILITIES-VISIBILITY
\*------------------------------------*/
.u-in2studyfinder-hide {
  display: none !important; }

.in2studyfinder.no-js .u-in2studyfinder-hide-if-no-js {
  display: none !important; }

/*------------------------------------*\
  #COMPONENTS-LOADER
\*------------------------------------*/
/**
 * Example HTML markup:
 *
 * <div class="in2studyfinder-loader in2js-in2studyfinder-loader">
 *     <svg xmlns="http://www.w3.org/2000/svg"
 *          width="32" height="32"
 *          viewBox="0 0 32 32"
 *          class="in2studyfinder-loader__icon">
 *         <title>Loader</title>
 *         <path d="M16 32c-4.274 0-8.292-1.664-11.314-4.686S0 20.274 0 16c0-3.026.849-5.973 2.456-8.522a16.061 16.061 0 0 1 6.386-5.791l1.344 2.682a13.044 13.044 0 0 0-5.192 4.708A12.953 12.953 0 0 0 3 15.999c0 7.168 5.832 13 13 13s13-5.832 13-13c0-2.459-.69-4.853-1.994-6.922a13.051 13.051 0 0 0-5.192-4.708l1.344-2.682a16.047 16.047 0 0 1 6.386 5.791A15.953 15.953 0 0 1 32 16c0 4.274-1.664 8.292-4.686 11.314S20.274 32 16 32z" />
 *     </svg>
 * </div>
 */
.in2studyfinder-loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .in2studyfinder-loader--active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .in2studyfinder-loader__icon {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-animation: in2studyfinder-loader-rotating 1s linear infinite;
    animation: in2studyfinder-loader-rotating 1s linear infinite; }

@keyframes in2studyfinder-loader-rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
  #UTILITIES-VISIBILITY
\*------------------------------------*/
.u-in2studyfinder-hide {
  display: none !important; }

.in2studyfinder.no-js .u-in2studyfinder-hide-if-no-js {
  display: none !important; }

/*------------------------------------*\
  #COMPONENTS-LOADER
\*------------------------------------*/
/**
 * Example HTML markup:
 *
 * <div class="in2studyfinder-loader in2js-in2studyfinder-loader">
 *     <svg xmlns="http://www.w3.org/2000/svg"
 *          width="32" height="32"
 *          viewBox="0 0 32 32"
 *          class="in2studyfinder-loader__icon">
 *         <title>Loader</title>
 *         <path d="M16 32c-4.274 0-8.292-1.664-11.314-4.686S0 20.274 0 16c0-3.026.849-5.973 2.456-8.522a16.061 16.061 0 0 1 6.386-5.791l1.344 2.682a13.044 13.044 0 0 0-5.192 4.708A12.953 12.953 0 0 0 3 15.999c0 7.168 5.832 13 13 13s13-5.832 13-13c0-2.459-.69-4.853-1.994-6.922a13.051 13.051 0 0 0-5.192-4.708l1.344-2.682a16.047 16.047 0 0 1 6.386 5.791A15.953 15.953 0 0 1 32 16c0 4.274-1.664 8.292-4.686 11.314S20.274 32 16 32z" />
 *     </svg>
 * </div>
 */
.in2studyfinder-loader {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .in2studyfinder-loader--active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .in2studyfinder-loader__icon {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-animation: in2studyfinder-loader-rotating 1s linear infinite;
    animation: in2studyfinder-loader-rotating 1s linear infinite; }

@keyframes in2studyfinder-loader-rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*------------------------------------*\
  #COMPONENTS-PROPERTY-LIST
\*------------------------------------*/
.c-in2studyfinder-property-list-item {
  cursor: pointer;
  margin-left: 15px; }

.c-in2studyfinder-property-list-optgroup {
  font-weight: bold;
  margin-top: 0;
  margin-left: 30px; }

.in2studyfinder__pagebrowser {
  list-style: none;
  display: inline-block; }
  .in2studyfinder__pagebrowser li {
    display: inline; }
    .in2studyfinder__pagebrowser li .current {
      color: #4c0; }
