{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace in2studyfinder = In2code\In2studyfinder\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="main">
    <f:flashMessages/>
    <f:for each="{messages}" as="message">
        <div class="typo3-message message-error"><strong>
            <f:translate key="tx_mask.content.error"/>
        </strong> {message}
        </div>
    </f:for>
    <f:if condition="{studyCourses}">
        <f:form action="export" controller="Backend">

            <div class="form-section">
                <div class="panel panel-default">
                    <div class="panel-heading">1. Exportieren als:</div>

                    <fieldset class="form-section">
                        <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field">
                            <div class="formengine-field-item t3js-formengine-field-item">

                                <div class="form-control-wrap">
                                    <div class="form-wizards-wrap">
                                        <div class="form-wizards-element">
                                            <div class="input-group">
                                                <span class="input-group-addon input-group-icon">
                                                <span alt="Master" title="Master">
                                                    <span
                                                            class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-tx_in2studyfinder_domain_model_graduation-default"
                                                            data-identifier="tcarecords-tx_in2studyfinder_domain_model_graduation-default">
                                                    <span class="icon-markup">
                                                <img src="/typo3conf/ext/in2studyfinder/Resources/Public/Icons/tx_in2studyfinder_domain_model_graduation.png"
                                                     width="16"
                                                     height="16">
                                                    </span>

                                                </span></span>
                                                </span>
                                                <select id="tceforms-select-5a85afcce2254034497831"
                                                        name="data[tx_in2studyfinder_domain_model_academicdegree][1][graduation]"
                                                        data-formengine-validation-rules="[{&quot;type&quot;:&quot;select&quot;,&quot;minItems&quot;:1,&quot;maxItems&quot;:1}]"
                                                        class="form-control form-control-adapt">
                                                    <option value=""
                                                            data-icon="<span alt=&quot;&quot; title=&quot;&quot;><span class=&quot;t3js-icon icon icon-size-small icon-state-default icon-default-not-found&quot; data-identifier=&quot;default-not-found&quot;>
	<span class=&quot;icon-markup&quot;>
<img src=&quot;/typo3/sysext/core/Resources/Public/Icons/T3Icons/default/default-not-found.svg&quot; width=&quot;16&quot; height=&quot;16&quot; />
	</span>

</span></span>"></option>
                                                    <option value="1"
                                                            data-icon="<span alt=&quot;Master&quot; title=&quot;Master&quot;><span class=&quot;t3js-icon icon icon-size-small icon-state-default icon-tcarecords-tx_in2studyfinder_domain_model_graduation-default&quot; data-identifier=&quot;tcarecords-tx_in2studyfinder_domain_model_graduation-default&quot;>
	<span class=&quot;icon-markup&quot;>
<img src=&quot;/typo3conf/ext/in2studyfinder/Resources/Public/Icons/tx_in2studyfinder_domain_model_graduation.png&quot; width=&quot;16&quot; height=&quot;16&quot; />
	</span>

</span></span>" selected="selected">Master
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-wizards-items-bottom">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <f:form.select name="exporter">
                        <f:for each="{exportDataProvider}" as="dataProvider" key="providerName">
                            <option value="{dataProvider}">{providerName}</option>
                        </f:for>
                    </f:form.select>
                </div>

                <div class="panel panel-default js-in2studyfinder-select-course-container">
                    <div class="panel-heading">2. Studiengänge auswählen
                        <span
                                class="js-in2studyfinder-selected-courses"><span
                                class="js-in2studyfinder-selected-courses-count">0</span> Selected</span>
                    </div>
                    <table class="table table-striped table-hover js-in2studyfinder-course-table">
                        <thead>
                        <th>
                            <f:form.checkbox name="selection" value="all"/>
                        </th>
                        <th>Uid</th>
                        <th colspan="2">Title</th>
                        </thead>
                        <tbody class="js-in2studyfinder-course-list">
                        <in2studyfinder:widget.paginate objects="{studyCourses}" as="paginatedCourses"
                                                        configuration="{itemsPerPage:itemsPerPage}">
                            <f:for each="{paginatedCourses}" as="studyCourse">
                                <tr data-in2studyfinder-course-uid="{studyCourse.uid}">
                                    <td>
                                        <f:form.checkbox name="selection" value="{studyCourse.uid}"
                                                         class="js-in2studyfinder-select-course"/>
                                    </td>
                                    <td>{studyCourse.uid}</td>
                                    <td>{studyCourse.title}</td>
                                    <td class="col-control">
                                        <div class="btn-group" role="group">
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-document-open"/>
                                            </a>
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-document-info"/>
                                            </a>
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-edit-hide"/>
                                            </a>
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-edit-delete"/>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                        </in2studyfinder:widget.paginate>
                        </tbody>
                        <tfoot>
                        <td colspan="3">Foot</td>
                        <td>
                            <label for="itemsPerPage">
                                Items per Page
                                <select name="itemsPerPage" title="itemsPerPage" class="js-in2studyfinder-itemsPerPage">
                                    <option value="10" {f:if(condition:
                                    '{itemsPerPage} == 10', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:10}')}">10</option>
                                    <option value="25" {f:if(condition:
                                    '{itemsPerPage} == 25', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:25}')}">25</option>
                                    <option value="50" {f:if(condition:
                                    '{itemsPerPage} == 50', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:50}')}">50</option>
                                    <option value="100" {f:if(condition:
                                    '{itemsPerPage} == 100', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:100}')}">100</option>
                                    <option value="250" {f:if(condition:
                                    '{itemsPerPage} == 250', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:250}')}">250</option>
                                    <option value="500" {f:if(condition:
                                    '{itemsPerPage} == 500', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:500}')}">500</option>
                                </select>
                            </label>
                        </td>
                        </tfoot>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">3. zu exportierdene Felder auswählen
                    </div>

                    <div class="form-wizards-element">
                        <div class="form-multigroup-wrap t3js-formengine-field-group">
                            <div class="form-multigroup-item form-multigroup-element">
                                <label for="propertiesSelected">
                                    Selected Items
                                </label>
                                <div class="form-wizards-wrap form-wizards-aside">
                                    <div class="form-wizards-element">
                                        <select name="propertiesSelected"
                                                title="propertiesSelected"
                                                size="30"
                                                class="form-control tceforms-multiselect js-in2studyfinder-selected-properties-list"
                                                multiple="multiple">
                                            <optgroup
                                                    label="{f:translate( key: 'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:studycourse')}"
                                                    style="font-weight: bold"></optgroup>
                                        </select>
                                    </div>
                                    <div class="form-wizards-items-aside">
                                        <div class="btn-group-vertical">
                                            <a href="#" class="btn btn-default js-in2studyfinder-move-item-begin"
                                               title="Move selected items to top">
                                                <core:icon identifier="actions-move-to-top" size="small" />
                                            </a>
                                            <a href="#" class="btn btn-default js-in2studyfinder-move-item-up"
                                               title="Move selected items upwards">
                                                <core:icon identifier="actions-move-up" size="small" />
                                            </a>
                                            <a href="#" class="btn btn-default js-in2studyfinder-move-item-down"
                                               title="Move selected items downwards">
                                                <core:icon identifier="actions-move-down" size="small" />
                                            </a>
                                            <a href="#" class="btn btn-default js-in2studyfinder-move-item-end"
                                               title="Move selected items to bottom">
                                                <core:icon identifier="actions-move-to-bottom" size="small" />
                                            </a>
                                            <a href="#" class="btn btn-default js-in2studyfinder-remove-item"
                                               title="Remove selected items">
                                                <core:icon identifier="actions-selection-delete" size="small" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-multigroup-item form-multigroup-element">
                                <label for="propertiesAvailable">
                                    Available Items
                                </label>
                                <select name="propertiesAvailable" title="propertiesAvailable"
                                        class="form-control t3js-formengine-select-itemstoselect js-in2studyfinder-property-list"
                                        size="30">
                                    <optgroup
                                            label="{f:translate( key: 'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:studycourse')}"
                                            style="font-weight: bold"></optgroup>
                                    <f:render partial="Backend/AvailableFields" section="main"
                                              arguments="{properties:availableFieldsForExport}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                    <f:form.hidden name="properties" class="in2studyfinder-selected-properties"/>
                    <f:form.hidden name="courseList" class="in2studyfinder-selected-courses"/>
                    <f:form.submit class="js-in2studyfinder-export-courses" value="Export"/>
                </div>
        </f:form>
    </f:if>
</f:section>

