{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace in2studyfinder = In2code\In2studyfinder\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="main">
    <f:flashMessages/>
    <f:for each="{messages}" as="message">
        <div class="typo3-message message-error"><strong>
            <f:translate key="tx_mask.content.error"/>
        </strong> {message}
        </div>
    </f:for>
    <f:if condition="{studyCourses}">
        <f:form action="export" controller="Backend">
            <div class="form-section">
                <div class="panel panel-default">
                    <div class="panel-heading">1. Exportieren als:</div>
                    <f:form.select name="exporter">
                        <f:for each="{exportDataProvider}" as="dataProvider" key="providerName">
                            <option value="{dataProvider}">{providerName}</option>
                        </f:for>
                    </f:form.select>
                </div>

                <div class="panel panel-default js-in2studyfinder-select-course-container">
                    <div class="panel-heading">2. Studiengänge auswählen
                        <span
                                class="js-in2studyfinder-selected-courses"><span
                                class="js-in2studyfinder-selected-courses-count">0</span> Selected</span>
                    </div>
                    <table class="table table-striped table-hover js-in2studyfinder-course-table">
                        <thead>
                        <th>
                            <f:form.checkbox name="selection" value="all"/>
                        </th>
                        <th>Uid</th>
                        <th colspan="2">Title</th>
                        </thead>
                        <tbody class="js-in2studyfinder-course-list">
                        <in2studyfinder:widget.paginate objects="{studyCourses}" as="paginatedCourses"
                                                        configuration="{itemsPerPage:itemsPerPage}">
                            <f:for each="{paginatedCourses}" as="studyCourse">
                                <tr data-in2studyfinder-course-uid="{studyCourse.uid}">
                                    <td>
                                        <f:form.checkbox name="selection" value="{studyCourse.uid}"
                                                         class="js-in2studyfinder-select-course"/>
                                    </td>
                                    <td>{studyCourse.uid}</td>
                                    <td>{studyCourse.title}</td>
                                    <td class="col-control">
                                        <div class="btn-group" role="group">
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-document-open"/>
                                            </a>
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-document-info"/>
                                            </a>
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-edit-hide"/>
                                            </a>
                                            <a href="#" onClick="alert('Ok'); return false;" class="btn btn-default">
                                                <core:icon identifier="actions-edit-delete"/>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </f:for>
                        </in2studyfinder:widget.paginate>
                        </tbody>
                        <tfoot>
                        <td colspan="3">Foot</td>
                        <td>
                            <label for="itemsPerPage">
                                Items per Page
                                <select name="itemsPerPage" title="itemsPerPage" class="js-in2studyfinder-itemsPerPage">
                                    <option value="10" {f:if(condition:
                                    '{itemsPerPage} == 10', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:10}')}">10</option>
                                    <option value="25" {f:if(condition:
                                    '{itemsPerPage} == 25', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:25}')}">25</option>
                                    <option value="50" {f:if(condition:
                                    '{itemsPerPage} == 50', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:50}')}">50</option>
                                    <option value="100" {f:if(condition:
                                    '{itemsPerPage} == 100', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:100}')}">100</option>
                                    <option value="250" {f:if(condition:
                                    '{itemsPerPage} == 250', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:250}')}">250</option>
                                    <option value="500" {f:if(condition:
                                    '{itemsPerPage} == 500', then: 'selected')}
                                    data-action="{f:uri.action(action:'list',arguments:'{itemsPerPage:500}')}">500</option>
                                </select>
                            </label>
                        </td>
                        </tfoot>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">3. zu exportierdene Felder auswählen <span
                            class="js-in2studyfinder-selected-properties"><span
                            class="js-in2studyfinder-selected-properties-count">0</span> Selected</span>
                    </div>

                    <div class="form-wizards-element">
                        <div class="form-multigroup-wrap t3js-formengine-field-group">
                            <div class="form-multigroup-item form-multigroup-element">
                                <label for="propertiesSelected">
                                    Selected Items
                                </label>
                                <div class="form-wizards-wrap form-wizards-aside">
                                    <div class="form-wizards-element">
                                        <select name="propertiesSelected" title="propertiesSelected" size="30" multiple="multiple"></select>
                                    </div>
                                    <div class="form-wizards-items-aside">
                                        <div class="btn-group-vertical">
                                            <a href="#" class="btn btn-default t3js-btn-moveoption-top"
                                               data-fieldname="data[tx_news_domain_model_news][425][fe_group]"
                                               title="Move selected items to top">
<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-to-top"
      data-identifier="actions-move-to-top">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-move-to-top.svg" width="16" height="16">
	</span>

</span>
                                            </a>
                                            <a href="#" class="btn btn-default t3js-btn-moveoption-up"
                                               data-fieldname="data[tx_news_domain_model_news][425][fe_group]"
                                               title="Move selected items upwards">
<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-up" data-identifier="actions-move-up">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-move-up.svg" width="16" height="16">
	</span>

</span>
                                            </a>
                                            <a href="#" class="btn btn-default t3js-btn-moveoption-down"
                                               data-fieldname="data[tx_news_domain_model_news][425][fe_group]"
                                               title="Move selected items downwards">
<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-down"
      data-identifier="actions-move-down">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-move-down.svg" width="16" height="16">
	</span>

</span>
                                            </a>
                                            <a href="#" class="btn btn-default t3js-btn-moveoption-bottom"
                                               data-fieldname="data[tx_news_domain_model_news][425][fe_group]"
                                               title="Move selected items to bottom">
<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-move-to-bottom"
      data-identifier="actions-move-to-bottom">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-move-to-bottom.svg" width="16" height="16">
	</span>

</span>
                                            </a>
                                            <a href="#" class="btn btn-default t3js-btn-removeoption"
                                               data-fieldname="data[tx_news_domain_model_news][425][fe_group]"
                                               title="Remove selected items">
<span class="t3js-icon icon icon-size-small icon-state-default icon-actions-selection-delete"
      data-identifier="actions-selection-delete">
	<span class="icon-markup">
<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-selection-delete.svg" width="16"
     height="16">
	</span>

</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-multigroup-item form-multigroup-element">
                                <label for="propertiesAvailable">
                                    Available Items
                                </label>
                                <select name="propertiesAvailable" title="propertiesAvailable" class="form-control t3js-formengine-select-itemstoselect" size="30">
                                    <optgroup label="studyCourse" style="font-weight: bold"></optgroup>
                                    <f:render partial="Backend/AvailableFields" section="main"
                                              arguments="{properties:availableFieldsForExport}"/>
                                </select>
                            </div>
                        </div>
                    </div>
                <f:form.hidden name="properties" class="in2studyfinder-selected-properties"/>
                <f:form.hidden name="courseList" class="in2studyfinder-selected-courses"/>
                <f:form.submit class="js-in2studyfinder-export-courses" value="Export" />
            </div>
        </f:form>
    </f:if>
</f:section>

