<f:layout name="Default"/>

<f:section name="main">
	<div class="in2studyfinder__detail">
		<f:flashMessages/>

		<div class="in2studyfinder__column">
			<div class="in2studyfinder__content-box">
				<div class="in2studyfinder__content-box-content">
					<h1>{studyCourse.title} - {studyCourse.academicDegree.degree}</h1>

					<f:format.html>{studyCourse.teaser}</f:format.html>
				</div>
			</div>


			<div class="in2studyfinder__content-box">
				<div class="in2studyfinder__content-box-head">
					<h3>
						<f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:keyData"/>
					</h3>
				</div>
				<div class="in2studyfinder__content-box-content">
					<div class="in2studyfinder__column in2studyfinder__column--half">

						<f:if condition="{studyCourse.academicDegree.degree}">
							<strong>
								<f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:typeOfStudy"/>
							</strong>

							<p>{studyCourse.academicDegree.degree}</p>
						</f:if>

						<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:typeOfStudy"/></strong>
						<ul>
							<f:for each="{studyCourse.typesOfStudy}" as="typeOfStudy">
								<li>{typeOfStudy.type}</li>
							</f:for>
						</ul>

						<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:startOfStudy"/></strong>
						<ul>
							<f:for each="{studyCourse.startsOfStudy}" as="startOfStudy">
								<li>{startOfStudy.title}:
									<f:format.date date="{startOfStudy.startDate}" format="d.m.Y"/>
								</li>
							</f:for>
						</ul>

						<f:if condition="{studyCourse.tuitionFee}">
							<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:tuitionFee"/></strong>

							<p>
								<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{studyCourse.tuitionFee}</f:format.currency>
							</p>
						</f:if>

						<f:if condition="{studyCourse.universityPlace}">
							<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:universityPlace"/></strong>

							<p>{studyCourse.universityPlace}</p>
						</f:if>
					</div>
					<div class="in2studyfinder__column in2studyfinder__column--half">

						<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:courseLanguage"/></strong>
						<ul>
							<f:for each="{studyCourse.courseLanguages}" as="courseLanguage">
								<li>{courseLanguage.language}</li>
							</f:for>
						</ul>

						<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:admissionRequirements"/></strong>
						<ul>
							<f:for each="{studyCourse.admissionRequirements}" as="admissionRequirement">
								<li>{admissionRequirement.title}</li>
							</f:for>
						</ul>

						<f:if condition="{studyCourse.ectsCredits}">
							<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:ectsCredits"/></strong>

							<p>{studyCourse.ectsCredits}</p>
						</f:if>

						<f:if condition="{studyCourse.standardPeriodOfStudy}">
							<strong><f:translate key="LLL:EXT:in2studyfinder/Resources/Private/Language/locallang_db.xlf:standardPeriodOfStudy"/></strong>

							<p>{studyCourse.standardPeriodOfStudy}</p>
						</f:if>
					</div>
				</div>
			</div>

			<div class="in2studyfinder__content-box">
				<div class="in2studyfinder__content-box-head">
					<h3>Worum geht es in diesem Studiengang? [TODO] Übersetzen</h3>
				</div>
				<div class="in2studyfinder__content-box-content">
					<f:format.html>{studyCourse.description}</f:format.html>
				</div>
			</div>

			<f:render partial="StudyCourse/Detail/contentElements" arguments="{_all}"/>

			<div class="in2studyfinder__content-box">
				<f:link.page pageUid="{settings.flexform.studyCourseListPage}" class="in2studyfinder__button">Zurück zur Liste [TODO] Übersetzen</f:link.page>
			</div>

		</div>
		<div class="in2studyfinder__column in2studyfinder__column--right">
		</div>
	</div>
</f:section>
