<f:layout name="Default"/>

<f:section name="main">
	<div class="in2studyfinder__detail">
		<f:flashMessages/>

		<div class="in2studyfinder__column">
			<div class="in2studyfinder__content-box">
				<div class="in2studyfinder__content-box-content">
					<h1>{studyCourse.title} - {studyCourse.academicDegree.degree}</h1>

					<h3>
						Fakultät {studyCourse.faculty.title}
					</h3>

					<f:format.html>{studyCourse.teaser}</f:format.html>
				</div>
			</div>


			<div class="in2studyfinder__content-box">
				<div class="in2studyfinder__content-box-head">
					<h3>Eckdaten</h3>
				</div>
				<div class="in2studyfinder__content-box-content">
					<div class="in2studyfinder__column in2studyfinder__column--half">
						<strong>Art des Studiums</strong>

						<p>{studyCourse.academicDegree.degree}</p>

						<strong>Studientyp</strong>
						<ul>
							<f:for each="{studyCourse.typesOfStudy}" as="typeOfStudy">
								<li>{typeOfStudy.type}</li>
							</f:for>
						</ul>

						<strong>ECTS Credits</strong>

						<p>{studyCourse.ectsCredits}</p>

						<strong>Studiengebühren</strong>

						<p>
							<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{studyCourse.tuitionFee}</f:format.currency>
						</p>

					</div>
					<div class="in2studyfinder__column in2studyfinder__column--half">
						<strong>Zulassungsbeschränkungen</strong>
						<ul>
							<f:for each="{studyCourse.admissionRequirements}" as="admissionRequirement">
								<li>{admissionRequirement.title}</li>
							</f:for>
						</ul>

						<strong>Studienbeginn</strong>
						<ul>
							<f:for each="{studyCourse.startsOfStudy}" as="startOfStudy">
								<li>{startOfStudy.title}:
									<f:format.date date="{startOfStudy.startDate}" format="d.m"/>
								</li>
							</f:for>
						</ul>

						<strong>Regelstudienzeit (in Semestern)</strong>

						<p>{studyCourse.standardPeriodOfStudy}</p>

						<strong>Studienplätze</strong>

						<p>{studyCourse.universityPlace}</p>
					</div>
				</div>
			</div>

			<div class="in2studyfinder__content-box">
				<div class="in2studyfinder__content-box-head">
					<h3>Worum geht es in diesem Studiengang?</h3>
				</div>
				<div class="in2studyfinder__content-box-content">
					<f:format.html>{studyCourse.description}</f:format.html>
				</div>
			</div>

			<f:render partial="StudyCourse/Detail/contentElements" arguments="{_all}"/>

			<div class="in2studyfinder__content-box">
				<f:link.page pageUid="{settings.flexform.studyCourseListPage}" class="in2studyfinder__button">Zurück zur Liste</f:link.page>
			</div>

		</div>
		<div class="in2studyfinder__column in2studyfinder__column--right">
		</div>
	</div>
</f:section>
