<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:in2studyfinder="http://typo3.org/ns/In2code/In2studyfinder/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
	<div class="in2studyfinder__view-fastSearch">
		<f:flashMessages/>

		<div class="l-content">

			<div class="studysearch c-in2studyfinder-quick-search">
				<div class="studysearch__formContainer">
					<div class="row">
						<f:render partial="StudyCourse/FastSearch/Headline" arguments="{_all}"/>

						<f:form class=" u-in2studyfinder-hide-if-no-js js-in2studyfinder-quick-search"
										action="detail"
										pluginName="Pi2"
										pageUid="{settings.flexform.studyCourseDetailPage}">

							<in2studyfinder:form.select property="uid"
																					name="studyCourse"
																					optionLabelField="titleWithAcademicDegree"
																					prependOptionLabel=""
																					optionValueField="uid"
																					options="{studyCourses}"
																					additionalOptionAttributes="{alt: 'metaKeywords'}"
																					additionalAttributes="{ 'aria-label': '{f:translate(key:\'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:studyCourseSelect\')}' }"
																					class="c-in2studyfinder-quick-search__select js-in2studyfinder-select"
																					tabindex="0"
																					detailPageUid="{settings.flexform.studyCourseDetailPage}"
																					style="width: 100%"/>
						</f:form>
					</div>
				</div>
				<f:link.page pageUid="{settings.flexform.studyCourseListPage}">Alle Studiengänge anzeigen</f:link.page>
			</div>
		</div>
	</div>
</f:section>

</html>
