<f:layout name="Default"/>

<f:section name="main">
	<main aria-label="{f:translate(key:'LLL:EXT:in2studyfinder/Resources/Private/Language/locallang.xlf:mainContent')}">
		<div class="in2studyfinder__view-list">


			<f:flashMessages/>
			<f:render partial="StudyCourse/List/Filter" arguments="{_all}"/>


			<div class="l-content">
				<section id="results" aria-label="results">
						<f:render partial="StudyCourse/List/QuickSearch" arguments="{_all}"/>
						<f:if condition="{studyCourses}">
							<f:then>
								<f:render partial="StudyCourse/List/StudyCourseList" arguments="{_all}"/>
							</f:then>
							<f:else>
								<f:render partial="StudyCourse/List/NoStudyCourses" arguments="{_all}"/>
							</f:else>
						</f:if>
				</section>
			</div>
		</div>
	</main>
</f:section>

