
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

	<f:debug>{_all}</f:debug>

		<f:for each="{studyCourses}" as="studyCourse">
			<f:for each="{studyCourse.contentElements}" as="contentElement">
				<h3>{contentElement.header}</h3>
				<f:if condition="{contentElement.CType} == 'textmedia'">
					{contentElement.bodytext -> f:format.html()}
				</f:if>
			</f:for>
		</f:for>
</f:section>
